body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333 url("../img/spacebg.jpeg") no-repeat center center / cover;
}

/* Set shape container */

.container {
  width: 400px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  animation: animateShape 14.5s linear infinite;
}

.container .block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}

.container .block:nth-child(1) {
  transform: translate3d(0, 0, 170px) rotateX(0deg);
}

.container .block:nth-child(2) {
  transform: translate3d(0, -140px, -30px) rotateX(90deg);
}

.container .block:nth-child(3) {
  transform: translate3d(-30px, -140px, 0) rotateY(90deg) rotateX(90deg);
}

.container .block .box {
  position: absolute;
  top: 50%;
  left: 0;
  transform-style: preserve-3d;
}

.container .block .box:nth-child(1) {
  transform: rotateY(0deg) translateX(0px) translateZ(0px);
}

.container .block .box:nth-child(2) {
  transform: rotateY(90deg) translateX(170px) translateZ(-170px);
}

.container .block .box:nth-child(3) {
  transform: rotateY(180deg) translateX(0px) translateZ(340px);
}

.container .block .box:nth-child(4) {
  transform: rotateY(270deg) translateX(-170px) translateZ(-170px);
}

.container .block .box .shape {
  width: 400px;
  height: 60px;
}

.container .block .box .shape .side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(229, 245, 9);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.45);
  transition: 0.5s;
}

/* Set the sides */

.container .block .box .shape .side:nth-child(1) {
  transform: rotateX(0deg) translate3d(0, 0, 30px);
}

.container .block .box .shape .side:nth-child(2) {
  transform: rotateX(90deg) translate3d(0, 0, 30px);
}

.container .block .box .shape .side:nth-child(3) {
  transform: rotateX(180deg) translate3d(0, 0, 30px);
}

.container .block .box .shape .side:nth-child(4) {
  transform: rotateX(270deg) translate3d(0, 0, 30px);
}

/* Animations */

@keyframes animateShape {
  0% {
    transform: perspective(1000px) rotateX(15deg) rotateY(15deg);
  }
  100% {
    transform: perspective(1000px) rotateX(375deg) rotateY(375deg);
  }
}
